body {
  font-size: 1rem;
  line-height: 1rem;
  color: (51, 51, 51);
}
.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.title {
  display: inline-block;
  font-size: 10rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.subtitle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-wrapper > span {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.mission-container {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 200px;
  height: 200px;
}
.mission-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission-item:nth-child(1) ~ li {
  margin-top: 1rem;
}
