:root {
  --main-color--black: #191919;
  --main-color--navy: #2d4263;
  --main-color--red: #c84b31;
  --main-color--beige: #ecdbba;
}

body {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--main-color--black);
}
.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color--beige);
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 10px;
}
.title {
  display: inline-block;
  font-size: 10rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.subtitle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-wrapper > span {
  font-size: 2rem;
  line-height: 2rem;
  margin: 10px 0;
  font-weight: bold;
}
.mission-container {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
}
.mission-list {
  padding: 15px;
  text-align: left;
  background-color: var(--main-color--navy);
  border-radius: 15px;
}
.mission-item:nth-child(1) ~ li {
  margin-top: 30px;
}
.mission-item {
  color: #fff;
}
