body {
  background-color: bisque;
}

h1 {
  margin: 0 auto;
  font-size: 800px;
  text-align: center;
  
}

h2 {
  margin: 0 auto;
  font-size: 200px;
  text-align: center;
<<<<<<< HEAD
  border : 1px solid black;
=======
  border: 100px solid green;
>>>>>>> jy/test
}
